<%- include("includes/head.ejs") %>

</head>

<body class="main-body">

    <%- include("includes/nav.ejs") %>

    <main >

        <h1 class="header">History Watch List</h1>
        <hr/>

        <% if (movieList.length > 0) { %>
            <% for (let movie of movieList) { %>
            <div class="border-control">    
                <header>
                    <h3><%=movie.name%></h3>
                </header>
                <div>
                    <a href="<%= movie.link.startsWith('http') ? movie.link : 'https://' + movie.link %>" target="_blank">
                        <h4>STREAM IT HERE!</h4>
                    </a>
                </div>
                <div>
                    <form action="/history/<%= movie._id %>" method="POST">
                        <button class="btn" type="submit" >REWATCH</button>
                    </form>
                    
                    <form action="/delete/<%= movie._id %>" method="POST">
                        <button class="btn" type="submit" >DELETE</button>
                    </form>

                    <input type="hidden" name="movieId" value="<%= movie._id %>">
                </div>
            </div>    
            <% } %>
        <% } else { %>
            <h3>Nothing new for you here.....</h3>
            <% } %>

    </main>
   
</body>
</html>