<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body class="main-body">
    <main>
        <button class="nav-btn" type="submit" ><a href="/history">HISTORY MOVIE LIST</a></button>
        <button class="nav-btn" type="submit" ><a href="/crud/add">ADD MOVIE</a></button>
       
        <h1 class="header">Movie Watch List</h1>
        <h2>What's New?</h2>
        <hr/>
        <% if (movieList.length > 0) { %>
            <% for (let movie of movieList) { %>
                <div class="border-control">        
                    <header>
                        <h3><%=movie.name%></h3>
                    </header>
                    <div>
                        <a href="<%= movie.link.startsWith('http') ? movie.link : 'https://' + movie.link %>" target="_blank">
                            <h4>STREAM IT HERE!</h4>
                        </a>
                    </div>
                    <div>
                        <form action="/watched/<%= movie._id %>" method="POST">
                            <button class="btn" type="submit" >WATCHED</button>
                        </form>
                    
                        <form action="/crud/update/<%= movie._id %>" method="GET">
                            <button class="btn" type="submit" >UPDATE</button>
                        </form>
    
                        <form action="/crud/delete/<%= movie._id %>" method="POST">
                            <button class="btn" type="submit" >DELETE</button>
                        </form>
    
                        <input type="hidden" name="movieId" value="<%= movie._id %>">
                    </div>
                </div>
                    <% } %>
            <% } else { %>
                <h3>Nothing new for you here.....</h3>
                <% } %>

    </main>
   
</body>
</html>
