<%- include("includes/head.ejs") %>

</head>
<body class="main-body">

    <%- include("includes/nav.ejs") %>

    <main>
       
        <h1 class="header">Update Movie</h1>
        <hr>
        <div>
            <form action="/update/<%= movie._id %>" method="POST">
                <div>
                    <label for="name">Movie Name</label>
                    <input class="input-style" type="text" name="name" id="name" value="<%= movie.name %>">
                </div>
                <br>
                <div>
                    <label for="link">Streaming link</label>
                    <input class="input-style" type="text" name="link" id="link" value="<%= movie.link %>">
                </div>
                <br>
                <div>
                    <button class="btn" type="submit">Update</button>
                </div>
            </form>
        </div>
        
       
    </main>
</body>
</html>